<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.static_analysis.mapper.tyzx.VersionStaMapper">
	<select id="getVersionStaData" resultType="map"  parameterType="map">
    	select version as name,count(1) as y
		from ty_rj_situation
		where
		<if test="appName != 'all' and (appName!=null and appName!='')">
			appName=${appName} and
		</if>
		<if test="operateSystem != 'all' and (operateSystem!=null and operateSystem!='')">
			operateSystem=${operateSystem} and 
		</if>
		<if test="startTime != 'null' and (startTime!=null and startTime!='')">
			update_time &gt;= '${startTime}' and 
		</if>
		<if test="endTime != 'null' and (endTime!=null and endTime!='')">
			update_time &lt;= '${endTime}' and
		</if>
		1=1 group by name
	</select>
</mapper>